doctype html
html
	head
		include inc/vars.pug
		include inc/mixins.pug

		meta(charset='utf-8')
		+title(title.full)

		link(rel='canonical' href=`${URLs.same}`)

		each verif in [{s: 'google-site-verification', code: 'lxhx79LqFXKKsVA7APFm5TO1Qv2QK9QCImP8VGfeCz0'}, {s: 'yandex-verification', code: '732f957a96f1d556'}, {s: 'msvalidate.01', code: 'C7EBDF39B17680694BCF0278806A6C9B'}, {s: 'p:domain_verify', code: '067a67c31fa06ee5c15c62d8ba872b72'}]
			meta(name=`${verif.s}` content=`${verif.code}`)

		include inc/meta.pug

		each URL in ['/🎼', '/🕹️']
			link(rel='prerender' href=`${URL}`)

		+includeStyles()
	body
		include inc/header.pug

		main
			div.text
				p Привет!
				p Мы &ndash; #{title.short}, небольшая компания людей, сплочённая вместе общей идеей и стремлением к своей мечте.
				p Вот уже четыре года мы делаем различный контент, который не оставит тебя равнодушным!
				p Среди наших проектов — музыка, Flash-видеоигры, графика, а также многое-многое другое.
				p Надеемся, что тебе здесь понравится! :3

		include inc/footer.pug

		+includeScripts()
