mixin socLink(link, pic, mini)
	li
		a(href=`${link}` target='_blank' rel='nofollow noopener')
			img(src=`../img/soc/${pic}.svg` alt=`${pic} soc icon${(mini == true) ? '-mini' : ''}`)

footer.footer
	ul.socials
		+socLink('https://vk.com/tehcojam', 'vk')
		+socLink('https://www.facebook.com/cojamru', 'fb', true)
		+socLink('https://cojam.bandcamp.com', 'bc', true)
		+socLink('https://www.youtube.com/c/cojamru', 'yt', true)
		//-+socLink('https://soundcloud.com/midipidemy', 'sc')

	p.footer-note #[a(href='/' rel='home') #{title.short_ru}], 2013 – #{new Date().getFullYear()}
