mixin title(title = '', subTitle = false)
	title #{`${subTitle ? subTitle + ' – ' : ''}${title}`}

mixin menuItem(link = '', text = '', isCurrent = false)
	li
		a(href=`${link}` class=`${isCurrent ? 'current' : ''}`)
			span #{text}

mixin includeStyles(added = [])
	- let styles = ['core', 'header-n-footer']
	- if (Array.isArray(added) && added.length != 0) { styles.push(...added) }
	- styles.push('mediaq')

	link(rel='stylesheet' href=`${URLs.font}`)

	if (Array.isArray(added) && added.length != 0 && added.includes('parsers'))
		link(rel='stylesheet' href=`https://cdnjs.cloudflare.com/ajax/libs/ilyabirman-likely/${LIBS.likely.v}/likely.css` integrity=`${LIBS.likely.sri.css}` crossorigin='anonymous')

	each CSS in styles
		link(rel='stylesheet' href=`../scss/${CSS}.scss`)

mixin externalLink(link, text)
	a(href=`${link}` target='_blank' rel='nofollow noopener') #{text}
